@font-face {
    font-family: System;
    src:url(fonts/GranaPadano/GranaPadano.ttf);
}

@font-face {
    font-family: Caption;
    src:url(fonts/AnonymousPro-1.002.001/Anonymous%20Pro.ttf);
}

body {
    background-color: black;
}

#menu {
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 24px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    z-index: 65535;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.menu-container {
    position: absolute;
    top: 2px;
    margin: 0px 16px 0px 16px;
}

.menu-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-container ul li {
    display: inline;
    font-family: System;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    padding: 0px 20px 1px 8px;
    cursor: default;
}

.menu-unselected {
    color: black;
    background-color: white;
}

.menu-selected {
    color: white;
    background-color: black;
}

.menu-logo {
    position: absolute;
    display: inline;
    background-repeat: no-repeat;
    background-position: center
    background-image: url(img/logo.png);
    -moz-user-select: none;
    -webkit-user-select: none;
    top: 1px;
    height: 16px;
    width: 16px;
}

.menu-invert {
    color: white;
    background-color: black;
}

#menu #right {
    background-color: blue;
    right: 0px;
}

#root {
    background-image: url(img/background.png);
    overflow-y: hidden;
    overflow-x: hidden;
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: -65535;
}

.accessory {
    -moz-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px 1px 1px 1px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 3px black;
}

.accessory > .title {
    font-family: System;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    height: 23px;
    text-align: center;
    background-color: black;
    color: white;
    line-height: 18px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.accessory > .title > .close {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 23px;
    width: 23px;
    background-image: url(img/accclose.png);
    background-size: contain;
    cursor: default;
}

.accessory > .title > .name {
    color: white;
    background-color: black;
    font-family: System;
    font-size: 17px;
    display: inline-block;
    padding: 1px 12px;
    margin-top: 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.accessory > .inner {
    background-color: black;
    color: white;
    -moz-user-select: text;
    -webkit-user-select: text;
    outline: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.window {
    -moz-user-select: none;
    -webkit-user-select: none;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 25px 1px 1px 1px;
    background-color: black;
}


.selected > .title {
    background-image: url(img/lines.png);
    background-size: auto 23px;
}

.window > .title {
    font-family: System;
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    height: 23px;
    text-align: center;
    background-color: white;
    line-height: 18px;
}

.window > .title > .close {
    position: absolute;
    top: 0px;
    left: 5px;
    height: 23px;
    width: 23px;
    background-image: url(img/close.png);
    background-size: contain;
    cursor: default;
}

.window > .title > .name {
    color: black;
    background-color: white;
    font-family: System;
    font-size: 17px;
    display: inline-block;
    padding: 1px 12px;
    margin-top: 3px;
    -moz-user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

.window > .inner {
    font-size: 15px;
    background-color: white;
    color: black;
    -moz-user-select: text;
    -webkit-user-select: text;
    outline: none;
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track-piece:vertical:decrement {
    background-image:url(img/trackvert.png)
}

::-webkit-scrollbar-track-piece:vertical:increment {
    background-image:url(img/trackvert.png)
}

::-webkit-scrollbar-button:vertical:decrement {
    background-image:url(img/scrollup.png)
}

::-webkit-scrollbar-button:vertical:increment {
    background-image:url(img/scrolldown.png)
}

::-webkit-scrollbar-track-piece:horizontal:decrement {
    background-image:url(img/trackhoriz.png)
}

::-webkit-scrollbar-track-piece:horizontal:increment {
    background-image:url(img/trackhoriz.png)
}

::-webkit-scrollbar-button:horizontal:decrement {
    background-image:url(img/scrollleft.png)
}

::-webkit-scrollbar-button:horizontal:increment {
    background-image:url(img/scrollright.png)
}

::-webkit-resizer {
    background-image:url(img/resize.png)
}

::-webkit-scrollbar-thumb {
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    background: white;
}

::selection {
    background: #7F7F7F;
    color: #FFFFFF;
}

::-moz-selection {
    background: #7F7F7F;
    color: #FFFFFF;
}

.menumenu {
    position:absolute;
    top: 22px;
//    width: 195px;
    background-color: white;
    border: solid 2px black
}

.menumenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menumenu ul li {
    display: block;
    font-family: System;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    padding: 2px 20px 2px 8px;
    cursor: default;
}

.menumenu ul li:hover {
    background-color: black;
    color: white;
}

.menumenu ul li hr {
    border: solid 1px black;
}

.hidden {
    display: none;
}